@mixin md{
    @media screen and (min-width:1000px) {
      @content  ;
    }
}

@mixin sm{
    @media screen and (max-width:647px) {
      @content  ;
    }
}

.footer {
    background-color: var(--black3);
    padding: 50px 0;
    color: white;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm{
        width: 140vw;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            gap: 30px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            font-size: 12px;
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: rgb(193, 137, 245);
            }
        }
    }
    .infoText {
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
        text-align: center;
        max-width: 800px;
        margin-bottom: 20px;
        @include md {
            font-size: 14px;
            margin-bottom: 30px;

        }
    }
    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                box-shadow: 0 0 0.625em var(--pink);
                color: rgb(193, 137, 245);
            }
        }
    }
}
